<table datatable [dtOptions]="dtOptions" class="row-border hover table">
  <thead>
    <tr>
      <th></th>
      <th>Label</th>
      <th>Quantity</th>
    </tr>
  </thead>
</table>

<div class="row" style="margin: 10px; background-color: #54AD32;">
  <div class="col-md-12" style="border: 1px solid black; padding: 10px;">
    <div class="row">
      <div class="col-md-12 text-center">
        <strong>Add Item to List</strong>
      </div>
    </div>


    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-5 text-center col-sm-12">
          <input type="text" id="label" name="label" [value]="adHocInventoryItem.label" autocomplete="off"
            [placeholder]="'Add Item...'" (input)="onInputSearchTerm()" />
        </div>
        <div class="col-md-2 text-center col-sm-12">
          <input style="margin-bottom: 10px;" type="number" id="quantity" name="quantity"
            [value]="adHocInventoryItem.quantity" min="1" />
        </div>
        <div class="col-md-5 text-center col-sm-12">
          <button style="background-color: lightgray; color:black;" type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <button class="btn btn-success" style="margin: 10px 30px; background-color: lightgray; color: black"
        routerLink="/create-grocery-list">Edit List</button>
      <button class="btn btn-success" style="margin: 10px 30px; background-color: #54AD32;"
        routerLink="/shopping-done">All Done!</button>
    </div>
  </div>
</div>