<h1>Barcode scanner</h1>

<p>Scan the barcode in the camera image below</p>

<div class="scanner-container">
    <barcode-scanner-livestream type="upc" (valueChanges)="onValueChanges($event)" maxHeight="300px">
    </barcode-scanner-livestream>

    <div>
        <img [src]="this.imageUrl" [hidden]="!this.imageUrl" />
        <div>{{this.message}}</div>
    </div>
</div>

<div id="toggleDiv" class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="checkinToggle" [checked]="isAdding"
        (change)="isAdding = !isAdding">
    <label class="custom-control-label" for="checkinToggle">Adding to Pantry</label>
</div>